pip
setuptools
wheel
nltk>=3.5
googletrans>=3.0.0
numpy
pandas
torch>=1.6.0
torchvision
pytorch_lightning>=1.1.0
transformers>=3.5.0
hyper
toolz
sklearn
transformers-lightning # https://github.com/iKernels/transformers-lightning/archive/0.4.3.zip
sentencepiece
requests